body {
  background-color: #fbf9ebd9;
}

.Layout {
  width: 80%;
  margin: 50px auto;
}
.Layout img {
  width: 100%;
  height: 100%;
  max-height: 400px;
}
.paper {
  width: 100%;
  margin: 30px 0;
  box-sizing: border-box;
}
.paperText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  text-align: center;
  color: aliceblue;
  height: 100%;
  max-height: 400px;
}
.paperText h2 {
  font-size: 2em;
  padding: 1em 1em 0.6em 1em;
  margin: 0;
}
.paperText blockquote {
  font-size: 1.5rem;
  padding: 1rem 2rem 1rem 2rem;
  margin: 0;
}

.paperText p {
  padding-right: 4rem;
  padding-bottom: 2rem;
  align-self: flex-end;
}

.paperText .endIcon {
  padding-bottom: 1rem;
  justify-self: baseline;
}

.MuiGrid-root,
.MuiGrid-item,
.MuiGrid-grid-xs-12,
.MuiGrid-grid-sm-5,
.MuiGrid-grid-md-4 {
  height: 100%;
  max-height: 400px !important;
}

@media (min-width: 600px) {
  .paper {
    max-height: 400px;
  }
}

@media (max-width: 768px) {
  .Layout {
    width: 90%;
  }

  .paperText blockquote {
    font-size: 1.3rem;
    padding-top: 1.2rem;
    padding-bottom: 0.5rem;
    margin: 0;
  }

  .paperText p {
    padding-right: 0;
    padding-bottom: 0.4rem;
    align-self: center;
  }

  .paperText .endIcon {
    padding-bottom: 1rem;
  }
}
