.mainTop {
  display: flex;
  flex-direction: row;
  background: url('../../assets/images/Top.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
  align-items: center;
  box-shadow: 0px 2px 3px 2px #777;
}

.topText {
  padding-left: 4em;
}

.topText h1 {
  color: #1b1813;
  font-size: 3.5em;
  margin: 0;
  text-shadow: 1px 1px #c1c1bd;
}

.topText small {
  display: block;
  color: #dcd5c6;
  font-size: 1.5em;
  padding-left: 10px;
  margin-top: 10px;
  text-shadow: 1px 1px black;
}

@media only screen and (max-width: 670px) {
  .topText {
    text-align: center;
    padding: 0 2em;
  }
}
