.Footer {
  display: flex;
  flex-direction: row;
  background-color: black;
  height: 230px;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.social {
  color: silver;
  padding: 2em;
  text-align: center;
}

.address {
  padding: 2em;
  color: white;
}
.address h2 {
  margin: 0;
}
.copyright {
  color: white;
  font-size: 1em;
  text-align: center;
  padding-bottom: 1em;
}

@media only screen and (max-width: 600px) {
  .Footer {
    height: 290px;
  }
  .social {
    padding: 0;
    padding-bottom: 1.2em;
    border-bottom: 1px solid white;
  }
  .address {
    padding: 0;
    padding-top: 1.5em;
    text-align: center;
  }
  .address p {
    margin: 1em 0;
  }
  .copyright {
    padding-top: 1.2em;
  }
}
