.Footer {
  display: flex;
  flex-direction: row;
  background-color: black;
  height: 240px;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.social {
  color: silver;
  padding: 2em;
}

.address {
  padding: 2em;
  color: white;
}
.address h2 {
  margin: 0;
}
.copyright {
  color: white;
  text-align: center;
  padding-bottom: 10px;
}

@media only screen and (max-width: 670px) {
  .Footer {
    height: 270px;
  }
  .social {
    padding: 0;
    padding-top: 2em;
    padding-bottom: 0.5em;
  }
  .address {
    padding: 1em 0;
  }
  .address p {
    margin: 0.5em 0;
  }
}